  <!--
  <section class="row mt-5">
    <div class="col">
      
      <button (click)="ProfileUser()" class="btn btn-warning">{{ 'Datos Usuario' | translate }}</button>
      <button (click)="creteProject()" class="btn btn-primary float-right mb-3" *ngIf="!userDonor" data-toggle="modal" data-target="#modalBook">{{ 'Nuevo Proyecto' | translate }}</button>
      <p></p>
      <table class="table table-hover table-bordered table-sm">
        <thead class="thead-light">
          <tr class="text-center">
  	        <th scope="col">#</th>
            <th scope="col">{{ 'Nombre del Proyecto' | translate }}</th>
            <th scope="col">{{ 'Localidad' | translate }}</th>
            <th scope="col">{{ 'Provincia' | translate }}</th>
            <th scope="col">{{ 'Monto Acumulado' | translate }}</th>
            <th scope="col">{{ 'Porcentaje Acumulado' | translate }}</th>
            <th scope="col">{{ 'Donantes' | translate }}</th>
            <th scope="col" *ngIf="userDonor"> {{ 'Mis puntos: ' | translate }} <a class="text-danger">{{points}}</a></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let project of projects; index as i" class="text-center">
            <th scope="row">{{i+1}}</th>
            <td>{{project.fantasyName}}</td>
            <td>{{project.locationProject.name}}</td>
            <td>{{project.locationProject.province}}</td>
            <td>$ {{project.donatedAmount}}</td>
            <td>{{((project.donatedAmount/project.moneyNeeded)*100).toFixed(2)}} %</td>
            <td>{{project.numberOfDonors}}</td> 

            <td *ngIf="userDonor && !project.isOpen"> Proyecto cerrado</td> 
              <td *ngIf="userDonor && project.isOpen">
                <ng-template #content let-modal>
                  <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">{{ 'Realizar Donación' | translate }}</h4>
                    <button type="button" class="close"  (click)="modal.dismiss('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="form-group">
                        <div class="input-group">
                          <input class="form-control" [(ngModel)]='montoDonado'  placeholder="{{ 'Ingrese Monto' | translate }}" name="dp" ngbDatepicker #dp="ngbDatepicker" required>
                            </div>
                      </div>
                    </form>
                    <form>
                      <div class="form-group">
                        <div class="input-group">
                          <input class="form-control" [(ngModel)]='comment'  placeholder="{{ 'Escribe aquí tus comentarios' | translate }}" name="dp" ngbDatepicker #dp="ngbDatepicker" rows="10" cols="40" spellcheck="true" required>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="Donar(project.id, montoDonado,comment)" (click)="modal.dismiss('Cross click')" (click)="UpdateProject(project)">{{ 'Donar' | translate }}</button>
                  </div>
                </ng-template>
                <div class="form-group-btn text-center">
                <button class="btn btn-success btn-sm" (click)="open(content)">{{ 'Realizar Donación' | translate }}</button>
                </div>
                <pre>{{ closeResult }}</pre>
              </td>   
          </tr>
        </tbody>
      </table>
    </div>
  </section>
-->



<section class="row mt-5">
  <div class="col">

  <h1>{{ 'Proyectos' | translate }}</h1>

  <div class="search-div">
    <mat-form-field class="search-form-field" floatLabel="never">
      <input matInput  autocomplete="off" (keyup)="applyFilter($event)" placeholder="{{ 'Buscar' | translate }}" #input>
    </mat-form-field>
    <button mat-raised-button *ngIf="userDonor" float-right >{{ 'Proyectos Abiertos' | translate }}</button>
    <button mat-raised-button *ngIf="!userDonor" float-right (click)="creteProject()">{{ 'Nuevo Proyecto' | translate }}</button>
  </div>

  <p></p>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="text-center">
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let project"> {{project.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Nombre del Proyecto">
        <th mat-header-cell *matHeaderCellDef> {{ 'Nombre del Proyecto' | translate }} </th>
        <td mat-cell *matCellDef="let project"> {{project.fantasyName}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Localidad">
        <th mat-header-cell *matHeaderCellDef> {{ 'Localidad' | translate }} </th>
        <td mat-cell *matCellDef="let project"> {{project.locationProject.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Provincia">
        <th mat-header-cell *matHeaderCellDef> {{ 'Provincia' | translate }} </th>
        <td mat-cell *matCellDef="let project"> {{project.locationProject.province}} </td>
      </ng-container>

      <ng-container matColumnDef="Monto Acumulado">
        <th mat-header-cell *matHeaderCellDef> {{ 'Monto Acumulado' | translate }} </th>
        <td mat-cell *matCellDef="let project"> $ {{project.donatedAmount}} </td>
      </ng-container>

      <ng-container matColumnDef="Porcentaje Acumulado">
        <th mat-header-cell *matHeaderCellDef> {{ 'Porcentaje Acumulado' | translate }} </th>
        <td mat-cell *matCellDef="let project"> {{((project.donatedAmount/project.moneyNeeded)*100).toFixed(2)}} % </td>
      </ng-container>

      <ng-container matColumnDef="Donantes">
        <th mat-header-cell *matHeaderCellDef> {{ 'Donantes' | translate }} </th>
        <td mat-cell *matCellDef="let project"> {{project.numberOfDonors}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>{{ 'Mis puntos: ' | translate }} <a class="text-danger">{{points}}</a></th>
        <td mat-cell *matCellDef="let project">
          <ng-template #content let-modal>
                  <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">{{ 'Realizar Donación' | translate }}</h4>
                    <button type="button" class="close"  (click)="modal.dismiss('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="form-group">
                        <div class="input-group">
                          <input class="form-control" [(ngModel)]='montoDonado'  placeholder="{{ 'Ingrese Monto' | translate }}" name="dp" ngbDatepicker #dp="ngbDatepicker" required>
                            </div>
                      </div>
                    </form>
                    <form>
                      <div class="form-group">
                        <div class="input-group">
                          <input class="form-control" [(ngModel)]='comment'  placeholder="{{ 'Escribe aquí tus comentarios' | translate }}" name="dp" ngbDatepicker #dp="ngbDatepicker" rows="10" cols="40" spellcheck="true" required>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="Donar(project.id, montoDonado,comment)" (click)="modal.dismiss('Cross click')" (click)="UpdateProject(project)">{{ 'Donar' | translate }}</button>
                  </div>
                </ng-template>
                <div class="table-button-row">
                <button class="btn btn-success btn-sm" (click)="open(content)" *ngIf="userDonor && project.isOpen">{{ 'Realizar Donación' | translate }}</button>
                <button class="btn btn-success btn-sm" (click)="open(content)" *ngIf="userDonor && !project.isOpen" disabled>{{ 'Realizar Donación' | translate }}</button>
                <button class="btn btn-danger btn-sm" *ngIf="!userDonor && project.isOpen">{{ 'Cerrar Proyecto' | translate }}</button>
                <button class="btn btn-danger btn-sm" *ngIf="!userDonor && !project.isOpen" disabled>{{ 'Cerrar Proyecto' | translate }}</button>
                </div>
                <pre>{{ closeResult }}</pre>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  </div>
</section>
