<section class="row mt-5">
  <div class="col">

  <h1>{{ 'Proyectos' | translate }}</h1>

  <div class="search-div" *ngIf="userDonor">
    <mat-form-field class="search-form-field" floatLabel="never">
      <input matInput  autocomplete="off" (keyup)="applyFilter($event)" placeholder="{{ 'Buscar' | translate }}" #input>
    </mat-form-field>
    <button mat-raised-button *ngIf="userDonor" float-right (click)="getOpenProjects()">{{ 'Proyectos Abiertos' | translate }}</button>
  </div>

  <div class="search-div" *ngIf="!userDonor">
    <mat-form-field class="search-form-field-admin" floatLabel="never">
      <input matInput  autocomplete="off" (keyup)="applyFilter($event)" placeholder="{{ 'Buscar' | translate }}" #input>
    </mat-form-field>
    <button mat-raised-button id="button-admin" float-right (click)="creteProject()">{{ 'Nuevo Proyecto' | translate }}</button>
    <button mat-raised-button id="button-admin" float-right (click)="getOpenProjects()">{{ 'Proyectos Abiertos' | translate }}</button>
  </div>

  <p></p>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="text-center">
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let project"> {{project.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Nombre del Proyecto">
        <th mat-header-cell *matHeaderCellDef> {{ 'Nombre del Proyecto' | translate }} </th>
        <td mat-cell *matCellDef="let project"> {{project.fantasyName}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Localidad">
        <th mat-header-cell *matHeaderCellDef> {{ 'Localidad' | translate }} </th>
        <td mat-cell *matCellDef="let project"> {{project.locationProject.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Provincia">
        <th mat-header-cell *matHeaderCellDef> {{ 'Provincia' | translate }} </th>
        <td mat-cell *matCellDef="let project"> {{project.locationProject.province}} </td>
      </ng-container>

      <ng-container matColumnDef="Monto Acumulado">
        <th mat-header-cell *matHeaderCellDef> {{ 'Monto Acumulado' | translate }} </th>
        <td mat-cell *matCellDef="let project"> $ {{project.donatedAmount}} </td>
      </ng-container>

      <ng-container matColumnDef="Porcentaje Acumulado">
        <th mat-header-cell *matHeaderCellDef> {{ 'Porcentaje Acumulado' | translate }} </th>
        <td mat-cell *matCellDef="let project"> {{((project.donatedAmount/project.moneyNeeded)*100).toFixed(2)}} % </td>
      </ng-container>

      <ng-container matColumnDef="Donantes">
        <th mat-header-cell *matHeaderCellDef> {{ 'Donantes' | translate }} </th>
        <td mat-cell *matCellDef="let project"> {{project.numberOfDonors}} </td>
      </ng-container>

      <ng-container matColumnDef="Fecha de Fin">
        <th mat-header-cell *matHeaderCellDef> {{ 'Fecha de Fin' | translate }} </th>
        <td mat-cell *matCellDef="let project"> <a class="text-danger">{{project.endOfProject | date:'dd/MM/yyyy'}} </a></td>
      </ng-container>
      
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>{{ 'Mis puntos: ' | translate }} <a class="text-success">{{points}}</a></th>
        <td mat-cell *matCellDef="let project">
          <ng-template #content let-modal>
                  <div class="modal-header">
                    <h3 class="modal-title" id="modal-basic-title">{{ 'Realizar Donación' | translate }}</h3>
                    <button type="button" class="close"  (click)="modal.dismiss('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form [formGroup]="donateForm.baseForm" (ngSubmit)="Donar(project.id)" class="form" >
                      <div class="space">
                        <div class="input-group-prepend">
                          <span class="input-group-text">{{ '$' | translate }}</span>
                          <input formControlName="montoDonado" class="form-control"  placeholder="{{ 'Ingrese Monto' | translate }}" name="montoDonado" required>
                        </div>
                        <mat-error *ngIf="checkField('montoDonado')">
                          {{ donateForm.errorMessage }}
                        </mat-error>
                      </div>
                      
                      <div class="form-group">
                        <div class="input-group">
                          <textarea formControlName="comment" name="comment" class="form-control"  placeholder="{{ 'Escribe aquí tus comentarios' | translate }}" cols="40" rows="5" required></textarea>
                        </div>
                        <mat-error *ngIf="checkField('comment')">
                          {{ donateForm.errorMessage }}
                        </mat-error>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" [disabled]="donateForm.baseForm.invalid" (click)="Donar(project.id)" 
                    class="btn btn-danger" (click)="modal.dismiss('Cross click')" (click)="UpdateProject(project)">{{ 'Donar' | translate }}</button>
                  </div>
                </ng-template>
                <div class="table-button-row">
                <button class="btn btn-success btn-sm" (click)="open(content)" *ngIf="userDonor && project.isOpen">{{ 'Donar' | translate }}</button>
                <button class="btn btn-success btn-sm" *ngIf="userDonor && !project.isOpen" disabled>{{ 'Donar' | translate }}</button>
                <button class="btn btn-warning btn-sm" (click)="donors(project)" (click)="open(content2)" *ngIf="userDonor">{{ 'Donantes' | translate }}</button>
                <button class="btn btn-danger btn-sm" (click)="onClickConfirm(project)" *ngIf="!userDonor && project.isOpen">{{ 'Cerrar Proyecto' | translate }}</button>
                <button class="btn btn-danger btn-sm" *ngIf="!userDonor && !project.isOpen" disabled>{{ 'Cerrar Proyecto' | translate }}</button>
                </div>
                <pre>{{ closeResult }}</pre>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
      <button *ngIf="volver" (click)="return()" type="submit" class="btn btn-danger float-right" id="btn-danger">{{ 'Volver' | translate }}</button>
  </div>

  <ng-template #content2 let-modal>
    <div class="modal-header">
      <h3 class="modal-title" id="modal-basic-title">{{ 'Donantes del projecto:' | translate }}</h3>
      <button type="button" class="close"  (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form *ngFor="let donor of listDonors"  class="form">
          <ul>
          <li>
          <span>{{donor}}</span> 
          </ul>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')">{{ 'Volver' | translate }}</button>
    </div>
  </ng-template>
</section>
