<section class="row mt-5">
  <div class="col">
    <button class="btn btn-primary float-right mb-3" data-toggle="modal" data-target="#modalBook" disabled="true">New Project</button>
    <table class="table table-hover">
      <thead>
        <tr class="text-center">
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Localidad</th>
          <th scope="col">Monto</th>
          <th scope="col">Porcentaje acumulado</th>
          <th scope="col">Donantes</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projects; index as i" class="text-center">
          <th scope="row">{{i+1}}</th>
          <td>{{project.fantasyName}}</td>
          <td>{{project.location}}</td>
          <td>{{project.donatedAmount}}</td>
          <td>{{project.percentageRequiredForClosing}}</td>
          <th scope="col">&nbsp;</th>
          <td>
            <button class="btn btn-success" data-toggle="modal" data-target="#modalBook">Donar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>