<div class="profile-form">
  <mat-card>
    <mat-card-content>
      <h1 class="h3 mb-3 font-weight-normal text-center">{{ 'Datos del Usuario' | translate }}</h1>
      <hr>
      <form>
        <div class="form-group">
          <label for="">{{ 'Nombre:' | translate }}</label>
          <input value={{user.name}} class="form-control" disabled>
        </div>

        <div class="form-group">
          <label for="">Email:</label>
          <input value={{user.mail}} class="form-control" disabled>
        </div>

        <div class="form-group">
          <label for="">{{ 'Apodo:' | translate }}</label>
          <input value={{user.nick}} class="form-control" disabled>
        </div>
        
        <div class="form-group" *ngIf="userDonor">
          <label for="">{{ 'Puntos acumulados:' | translate }}</label>
          <input value={{user.points}} class="form-control" disabled>
        </div>
      </form>

      <hr>
      <div class="centerbtn">
      <button (click)="irAEdit()" class="btn btn-info">{{ 'Editar' | translate }}</button>
      <button (click)="myDonations()" *ngIf="userDonor" type="submit" class="btn btn-warning">{{ 'Donaciones' | translate }}</button>
      <button (click)="returnHome()" type="submit" class="btn btn-danger" routerLink="listProject">{{ 'Volver' | translate }}</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
