.btn-social{
  position: relative;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  border-color: rgba(0,0,0,0.2);
}
  
.btn-facebook{
  background: #3b5998;
}

.btn-google{
  background: #dd4b39;
}

section {
  padding: 65px 0;
}


.login-form {
  padding: 5rem 1rem;
}

  mat-card {
    max-width: 330px;
    margin: 2rem auto;
    text-align: center;
  }

  .full-width-input,
  button {
    width: 100%;
  }

  .separator {
    margin-bottom: 2rem;
  }
